
DATABASE_URL="postgresql://username:passoword@localhost:5432/dbname?schema=public"

ACCESS_TOKEN_SECRET="YourAccessSecret"
ACCESS_EXPIRY="expiry time for access token"//1h/5m/1d

REFRESH_TOKEN_SECRET="YourRefreshSecret"
REFRESH_EXPIRY="expiry time for refresh token"//1h/5m/1d

PORT="port for you nest server"

REDIS_STORE_TIME="300000"
REDIS_PORT="6379"






